.Earthquake {
  border: 1px solid #000;
  display: flex;
  padding: 14px;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }

  &__details {
    flex: 1;
  }

  &__location {
    font-size: 24px;
  }

  &__controls {
    button {
      font-size: 18px;
    }
  }
}
